
#rooms-page{
    display: none;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

h1{
  margin-bottom: 20px;
}


:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}

#game-page{
    padding: 30px;
    display: flex;
    align-items: flex-start;
}

button{
    height: 39px;
    min-width: 200px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 25px;
    align-self: center;
}

button:hover{
    background-color: #aaa;
}

#rooms-container {
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
  
  #rooms-container .room-item {
      width: 200px;
      height: 200px;
    padding: 10px 20px;
    background-color: var(--white);
    border: 1px solid var(--main-button-border-color);
    color: var(--main-font-color);
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #rooms-container .room-item .room-name{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
  }

  #rooms-container .room-item .user-info{
      font-size: 12px;
      margin-bottom: 20px;
  }

  #rooms-container .room-item .join-button{
    display: block;
    padding: 5px 30px;
    background-color: var(--main-button-background-color);
    border: 1px solid var(--main-button-border-color);
  }

  #main-container{
      display: flex;
      margin-top: 40px;
  }

  #users-container{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
  }

  progress{
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 0%;
    background-color: #eee;
  }

  progress::-webkit-progress-bar {
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
  }

  progress::-webkit-progress-value{
      background-color:green;
  }

  .finished::-webkit-progress-value{
    background-color:chartreuse;
}
progress::-moz-progress-bar {
    background-color:green;
  }

    .finished::-moz-progress-bar {
        background-color:chartreuse;
    }

  .user-item{
      width: 220px;
      margin: 0px 20px 20px 0px;
  }

  .user-info {
      display: flex;
      align-items: center;
  }


  .ready-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
  }

  .ready-status-red {
      background-color: red;
  }

  .ready-status-green {
    background-color: green;
}


.highlight {
    background-color: chartreuse;
}

.underline{
    text-decoration: underline;
}

main {
    position: relative;
    width: 500px;
    border: 1px solid var(--input-placeholder-color);
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#text-container {
    padding: 0px 50px;
    font-size: 20px;
}

#game-timer{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

h1{
    margin-bottom: 20px;
}


.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }